.header {
  display: flex;
  position: sticky;
  z-index: $zHeader;
  width: 100%;
  height: 50px;
  max-height: 50px;
  background: $white-color;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
    width: 100%;

    &::before {
      @include pseudo();
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-color: $white-color;
      box-shadow:
        0 60px 96px rgba(0, 0, 0, 0.00719),
        0 30.0293px 48.0469px rgba(0, 0, 0, 0.010452),
        0 18.0882px 28.9412px rgba(0, 0, 0, 0.012873),
        0 11.5919px 18.547px rgba(0, 0, 0, 0.015),
        0 7.51293px 12.0207px rgba(0, 0, 0, 0.017126),
        0 4.72931px 7.56689px rgba(0, 0, 0, 0.019547),
        0 2.71728px 4.34765px rgba(0, 0, 0, 0.02281),
        0 1.19595px 1.91351px rgba(0, 0, 0, 0.03);
    }
  }

  &__menu-burger-btn {
    @include hover();
    display: flex;
    width: 50px;
    height: 50px;
    border: none;
    background-color: $main-color;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('../img/menu-burger.svg');
    outline: 0;
    transition: background-image 0.35s ease-in;
    cursor: pointer;

    &.active {
      background-image: url('../img/x.svg');
    }
  }

  &__cart {
    @include hover();
    display: flex;
    align-items: center;
    margin-right: 16px;
    outline: 0;

    &::before {
      @include pseudo('block', 'static', '');
      width: 18px;
      height: 18px;
      background: url('../img/shopping-bag.svg') no-repeat center / auto;
    }

    span {
      display: none;
    }
  }

  &__cart-counter {
    display: none;
  }
}

@media screen and (min-width: $screen-sm) {
  .header {
    &::before {
      @include pseudo();
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-color: $white-color;
      box-shadow:
        0 60px 96px rgba(0, 0, 0, 0.00719),
        0 30.0293px 48.0469px rgba(0, 0, 0, 0.010452),
        0 18.0882px 28.9412px rgba(0, 0, 0, 0.012873),
        0 11.5919px 18.547px rgba(0, 0, 0, 0.015),
        0 7.51293px 12.0207px rgba(0, 0, 0, 0.017126),
        0 4.72931px 7.56689px rgba(0, 0, 0, 0.019547),
        0 2.71728px 4.34765px rgba(0, 0, 0, 0.02281),
        0 1.19595px 1.91351px rgba(0, 0, 0, 0.03);
    }

    &__wrapper {
      display: flex;
      flex: 1;
      align-items: center;
      z-index: 0;

      &::before {
        display: none;
      }
    }

    &__cart {
      margin-left: 16px;
      text-decoration: none;


      span {
        display: inline-block;
        margin: 0 20px 0 8px;
        text-decoration: none;
        color: $main-color;

        &:visited {
          color: $main-color;
        }
      }
    }
  }
}


@media screen and (min-width: $screen-lg) {
  .header {
    width: $screen-lg;
    height: 100px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: $transparent-color;
    box-shadow: none;

    &::before {
      top: 40px;
      left: calc((#{$screen-lg} - 100vw) / 2);
      width: 100vw;
      height: 60px;
    }

    &::after {
      @include pseudo();
      z-index: -1;
      top: 0;
      left: calc((#{$screen-lg} - 100vw) / 2);
      width: 100vw;
      height: 40px;
      background-color: $gray-dark;
    }

    &__wrapper {
      width: 100%;
      height: 60px;
      margin: 40px 0 0;
    }

    &__cart {
      position: relative;
      margin: 0 0 0 20px;
    }

    &__cart-counter {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -7px;
      left: 7px;
      min-width: 14px;
      max-width: max-content;
      height: 14px;
      border-radius: 50%;
      padding: 0 2px 0.35px 0.35px;
      background-color: $warning-color;
      color: $white-color;
      font-weight: 600;
      font-size: 10px;
      line-height: 130%;
      letter-spacing: -0.5px;
    }

    &__menu-burger-btn {
      display: none;
    }
  }
}
