.page {
  font-family: $font-family;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::selection {
      color: $white-color;
      background-color: $main-color;
    }
  }

  body {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }

  &__inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: left top 50px;
    background-size: auto 100%;
    background-image: url('../img/mock-bg.png');
  }

  &__footer-wrapper {
    display: flex;
  }
}

@media screen and (min-width: $screen-sm) {
  .page {
    &__content {
      background-size: 100% auto;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .page {
    &__content {
      background-position: center top 100px;
      background-size: 1200px auto;
    }
  }
}
