.social-link {
  @include hover();
  display: flex;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;

  &--telegram {
    background-image: url('../img/telegram-ico.svg');
    background-size: 21.33px 17.78px;
  }

  &--whatsapp {
    background-image: url('../img/whatsapp-ico.svg');
    background-size: 20px 20px;
  }
}

@media screen and (min-width: $screen-sm) {
  .social-link {
    width: 24px;
    height: 24px;

    &--telegram {
      background-size: 16px 13.33px;
    }

    &--whatsapp {
      background-size: 15px 15px;
    }
  }
}
