-
  const primaryMenuData = [
    {
      title: 'Каталог',
      link: '#'
    },
    {
      title: 'Майнинг отель',
      link: '#',
      subitems: [
        {
          title: 'Калининская АЭС',
          link: '#'
        },
        {
          title: 'ПАО «Тулачермет»',
          link: '#'
        },
      ]
    },
    {
      title: 'Лизинг',
      link: '#'
    },
    {
      title: 'О компании',
      link: '#'
    },
  ];

-
  const secondaryMenuData = [
    {
      title: 'Новости и блог',
      link: '#'
    },
    {
      title: 'Оплата и доставка',
      link: '#',
    },
    {
      title: 'Контакты',
      link: '#'
    },
    {
      title: 'Вакансии',
      link: '#'
    },
  ];
