extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  header.header
    .header__wrapper
      +lang-switcher.lang-switcher--header
      +contacts.contacts--header
      .header__contacts
      a.header__cart(href='#')
        span Корзина
      button#menu-burger.header__menu-burger-btn
    include ../pug/blocks/main-nav.pug


block content

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
