extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  header.header
    include ../pug/blocks/main-nav.pug
    +contacts.contacts--header
    .header__contacts

    a.header__cart(href='#')
      span Корзина
    button#menu-burger.header__menu-burger-btn

block content

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
