$main-color:          #008ef8 ;
$warning-color:       #fc4646;

$white-color:         #ffffff;

$gray-light:          #e8e8ea;
$gray-medium:         #8b8c98; /* = $gray-dark + opacity: 0.5 */
$gray-dark:           #181a31;

$text-color:          $gray-dark;

$transparent-color:   rgba(255, 255, 255, 0);

$font-family:         OpenSans, Arial, 'Helvetica Neue', sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;

$zHeader:             500; /* stylelint-disable-line scss/dollar-variable-pattern
 */
$zMobileMenu:         -1; /* stylelint-disable-line scss/dollar-variable-pattern
 */
